@import 'https://fonts.googleapis.com/css?family=Cormorant+SC';
#text-box, #preview-box {
  width: 100%;
  height: 450px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1.2em;
}

#text-box {
  box-shadow: 3px 3px 10px black;
}

#preview-box {
  overflow: scroll;
  box-shadow: 3px 3px 10px black;
}

#text-box {
  resize: vertical;
  border: none;
}

#title span, #credit span, #preview-box {
  background-color: black;
  color: white;
}

#title span, #credit span {
  font-family: "Cormorant SC", serif;
  padding: 5px;
  font-size: 1.2em;
}

body {
  background: url("https://moderndaygypsyblog.files.wordpress.com/2014/12/photodune-2487584-white-wood-background-m.jpg");
  background-size: cover;
}

#content {
  padding-top: 25px;
}
